.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: black;
  height: 72px;
  color: #ec6ead;
  padding: 8px 24px 0 24px;
}
.footer > small {
  color: #848484;
}
#memo {
  padding: 8px;
  text-align: center;
}
#soda > img {
  max-width: 24px;
  filter: invert(1);
  transform: rotate(-16deg);
}
#paws > svg {
  color: #848484;
}

@media (width <= 850px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .footer > small {
    padding: 0 24px;
  }
  #memo {
    padding: 0 24px;
  }
  #soda > img {
    width: 16px;
  }
  #paws > svg {
    width: 16px;
    transform: translate(0, 4px);
  }
}
