:root {
  --bg-color-fallback: #f7f7f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg-color-fallback);
  background: linear-gradient(to top, #00aeef, #ec6ead);
}

main {
  flex: 1;
}
