.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 72px;
  font-family: sans-serif;
}
.brand-container {
  display: flex;
  align-items: center;
}
.brand-container a {
  display: contents;
}
#brand {
  width: 72px;
  height: 40px;
  filter: invert(1);
  margin: 0 0 0 16px;
}
.socials {
  display: flex;
  margin: 0 16px 0 16px;
}
.socials > a > img {
  width: 24px;
  margin-right: 8px;
}
.routes {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0 16px 0 0;
}
.routes > li > a {
  text-decoration: none;
  color: #00aeef;
}

@media (width <= 850px) {
  .nav-container {
    padding: 0 8px;
  }
  #brand {
    width: 56px;
    height: 32px;
    margin: 0;
  }
  .routes {
    margin: 0;
  }
}
