.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 72px;
}
.brand-container {
  display: flex;
  align-items: center;
}
#brand {
  color: white;
  margin: 0 0 0 24px;
}
.socials {
  display: flex;
  margin: 0 16px 0 16px;
}
.socials > a > svg {
  width: 24px;
  margin-right: 8px;
  fill: #d8d9d8;
}
.socials > a > svg:hover {
  fill: #fff000;
}
.routes {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0 24px 0 0;
}
.routes > li > a {
  text-decoration: none;
  color: #00aeef;
}
.routes > li > a:hover {
  color: #fff000;
}

@media (width <= 850px) {
  .nav-container {
    padding: 0 24px;
  }
  #brand {
    margin: 0;
  }
  .routes {
    margin: 0;
  }
}
