.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-container {
  display: flex;
  align-items: center;
}
.socials {
  display: flex;
  margin: 0 24px 0 24px;
}
.routes {
  display: flex;
  gap: 16px;
  list-style-type: none;
}
