---
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout>
  <h2 class="text-xl md:text-2xl text-yellow mb-2">
    Bit more about me...
  </h2>
  <br />
    Self-taught, used to work on movies, background is in compositing (vfx). Likely
    why I dig the frontend realm of things, combines tech, art and troubleshooting
    as you create something new.
    <br /><br />
    I like to bungee into rabbit holes and let curiosity compass the journey, all
    areas serve a learning opportunity. It's a vast canvas of unknowns, every time
    you figure something out you add a stroke to that overall picture and that, I
    think, is pretty rad.
</MainLayout>
 

