---

---

<section
  class="flex flex-col items-center justify-center gap-8 my-12 lg:justify-around"
>
  <div class="flex items-center justify-center relative">
    <img
      class="p-2 w-1/2"
      src="/images/rsz_jo.png"
      alt="illustration of girl with bun wearing glasses and nose ring"
    />
    <img
      class="absolute right-1/4 bottom-0 w-1/5 -rotate-[7deg] invert"
      src="/images/jo.png"
      alt="illustration signed, jo"
    />
  </div>
  <div class="w-2/3 p-0 lg:w-1/2 lg:p-6">
    <h2 class="text-center text-2xl text-[#fff000] mb-2">
      Developer | Frontend | JavaScript | React
    </h2>
    <br />
    <summary class="flex list-none">
      <!--?xml version="1.0" ?-->
      <svg
        class="rotate-180 min-w-4 mr-2"
        enable-background="new 0 0 48 48"
        height="24px"
        id="Layer_3"
        version="1.1"
        viewBox="0 0 48 48"
        width="48px"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <title>Quotations</title>
        <desc>quotations left of intro summary</desc>
        <g
          ><path
            d="M0,28.375h12.67c-0.062,3.31-1.338,6.313-3.403,8.6c-0.945,0.892-1.982,1.408-2.879,1.706   c-1.1,0.328-2.26,0.396-2.883,0.408H0v2.286h8.75v-0.003c7.205-0.032,13.043-5.816,13.177-12.997H22v-22H0V28.375z"
            fill="#fff000"></path><path
            d="M26,6.375v22h12.74c0,2.991-1,5.742-2.674,7.956c-0.839,1.089-1.828,1.792-2.761,2.233   c-0.008,0.004-0.016,0.008-0.023,0.012c-0.139,0.065-0.274,0.122-0.409,0.176c-1.514,0.557-3.915,0.587-3.915,0.587H26v2.286h8.75   c7.317,0,13.25-5.933,13.25-13.25v-22H26z"
            fill="#fff000"></path></g
        ></svg
      >
      On a level up quest. My background is in compositing (vfx) which combines tech,
      art, and troubleshooting to create something new-- probably why I dig frontend.
      I like to bungee into the rabbit hole and let curiosity compass the journey,
      all areas serve a learning opportunity. It's a vast canvas of unknowns, every
      time you figure something out you add a stroke to that overall picture and
      that, I think, is pretty rad.
    </summary>
  </div>
</section>
