---
import "../styles/about.css";
---

<div class="about">
  <img
    src="/images/rsz_jo.png"
    alt="illustration of girl with bun wearing glasses and nose ring"
  />
  <div class="summary">
    <!-- quotes --> lalalalala
  </div>
</div>
