---

---

<section
  class="flex xs:flex-col justify-center items-center gap-8 my-16 w-screen"
>
  <div class="flex items-center justify-center relative">
    <img
      class="w-1/2"
      src="/images/rsz_jo.png"
      alt="illustration of girl with bun wearing glasses and nose ring"
    />
    <img
      class="absolute right-1/4 bottom-0 w-15 p-2 -rotate-[7deg] invert"
      src="/images/jo.png"
      alt="illustration signed, jo"
    />
  </div>
  <div class="w-2/3 p-0 lg:w-1/2 lg:px-12 md:px-6">
    <h1
      class="text-center text-xl md:text-2xl font-bold tracking-widest self-center"
    >
      JOVANKA
    </h1>
    <!-- <h2 class="text-center text-xl md:text-2xl text-yellow mb-2">
      Developer | Frontend
    </h2> -->
    <br />
    <div class="flex flex-col text-base lg:text-lg">
      <div class="flex">
        <!--?xml version="1.0" ?-->
        <svg
          class="rotate-180 min-w-4 mr-2"
          enable-background="new 0 0 48 48"
          height="24px"
          id="Layer_3"
          version="1.1"
          viewBox="0 0 48 48"
          width="48px"
          xml:space="preserve"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <title>Quotations</title>
          <desc>quotations left of intro summary</desc>
          <g
            ><path
              d="M0,28.375h12.67c-0.062,3.31-1.338,6.313-3.403,8.6c-0.945,0.892-1.982,1.408-2.879,1.706   c-1.1,0.328-2.26,0.396-2.883,0.408H0v2.286h8.75v-0.003c7.205-0.032,13.043-5.816,13.177-12.997H22v-22H0V28.375z"
              fill="#fff000"></path><path
              d="M26,6.375v22h12.74c0,2.991-1,5.742-2.674,7.956c-0.839,1.089-1.828,1.792-2.761,2.233   c-0.008,0.004-0.016,0.008-0.023,0.012c-0.139,0.065-0.274,0.122-0.409,0.176c-1.514,0.557-3.915,0.587-3.915,0.587H26v2.286h8.75   c7.317,0,13.25-5.933,13.25-13.25v-22H26z"
              fill="#fff000"></path></g
          ></svg
        >
        <span>
          Hi! I'm a developer with 4+ years industry experience working with the
          frontend. Technologies include:
          <span class="text-yellow">React</span>, <span class="text-yellow"
            >NextJS</span
          >, <span class="text-yellow">TypeScript</span>, <span
            class="text-yellow">Jest</span
          >, <span class="text-yellow">Testing Library</span>, <span
            class="text-yellow">Svelte/SvelteKit</span
          >, <span class="text-yellow">Tailwind</span>,
          <span class="text-yellow">Vitest</span>, & <span class="text-yellow"
            >Playwright</span
          >.
        </span>
      </div>
      <div class="py-7 pl-6 xl:pl-7">
        Currently, working on a <span class="text-yellow">Remix</span> app- I've
        been writing about it on <a
          class="text-yellow hover:text-gray underline decoration-2"
          href="https://www.linkedin.com/in/jovankaplaceres/recent-activity/all/
"
        >
          LinkedIn</a
        >. Also, got a blog- you can check that out
        <a
          class="text-yellow hover:text-gray underline decoration-2"
          href="https://blog.rebelcl0ud.xyz/"
        >
          here!</a
        >
      </div>
    </div>
    <div class="flex flex-wrap justify-evenly pt-6">
      <!-- jest -->
      <svg
        class="p-2"
        width="75"
        height="75"
        viewBox="0 0 100 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M89.8776 49.2363C89.8776 44.0958 85.7101 39.9284 80.5697 39.9284C80.2388 39.9284 79.9128 39.9461 79.5911 39.9801L92.3755 2.2738H38.0461L50.8128 39.9472C50.6244 39.9353 50.4357 39.9291 50.247 39.9287C45.1066 39.9287 40.9391 44.0955 40.9391 49.2366C40.9391 53.3917 43.6624 56.9097 47.4206 58.1066C45.4357 61.5448 42.9378 64.6419 40.1019 67.3177C36.2455 70.9555 31.8321 73.7142 27.0588 75.4138C21.3756 72.4943 18.692 66.0014 21.1134 60.3086C21.3869 59.6655 21.6661 59.014 21.9329 58.3652C26.05 57.4043 29.1184 53.7134 29.1184 49.3032C29.1184 44.1625 24.951 39.9953 19.8102 39.9953C14.6694 39.9953 10.5023 44.1625 10.5023 49.3032C10.5023 52.4556 12.0705 55.2401 14.4682 56.9238C12.1644 62.1691 8.77785 67.6589 7.7227 74.0214C6.45814 81.6462 7.71845 89.7402 14.3133 94.3113C29.6722 104.956 46.3442 87.7121 63.9225 83.3771C70.2931 81.8064 77.2863 82.0594 82.899 78.8089C87.1139 76.3676 89.8928 72.3217 90.6812 67.7797C91.4607 63.2927 90.3247 58.8251 87.7127 55.2026C89.114 53.5306 89.8806 51.4178 89.8776 49.2363"
          fill="#99425B"></path>
        <path
          d="M88.4415 67.3907C87.757 71.3342 85.3214 74.7785 81.7598 76.8417C78.4395 78.7646 74.4609 79.3386 70.2481 79.9459C67.9914 80.2711 65.6579 80.6081 63.3782 81.17C57.3506 82.6564 51.5122 85.5564 45.8665 88.3609C34.5674 93.9732 24.8095 98.8196 15.6087 92.4426C8.86887 87.7716 9.17996 79.1292 9.96512 74.3934C10.6929 70.0055 12.6604 65.9645 14.5627 62.0568C14.8868 61.3927 15.2083 60.7272 15.5272 60.0606C16.4861 60.4439 17.4923 60.6963 18.5187 60.811C16.582 67.2025 19.6277 74.1521 26.0199 77.4359L26.895 77.8855L27.8212 77.5556C32.8748 75.7557 37.5316 72.868 41.6619 68.9709C44.3316 66.4521 46.6273 63.6654 48.514 60.6877C49.0876 60.7743 49.6669 60.8177 50.2469 60.8178C56.1141 60.8178 60.9724 56.4317 61.7243 50.7669C64.1259 50.679 66.6766 50.6783 69.0919 50.7662C69.8431 56.4317 74.7022 60.8181 80.5693 60.8181C83.0226 60.8181 85.298 60.0492 87.1727 58.7432C88.4741 61.4073 88.9599 64.4049 88.4415 67.3907V67.3907ZM19.8105 42.2686C23.6895 42.2686 26.8451 45.4245 26.8451 49.3035C26.8451 50.6967 26.4362 51.996 25.7343 53.0901C24.5651 54.9138 22.5774 56.1638 20.2938 56.3197C20.134 56.3303 19.9728 56.3381 19.8105 56.3381C18.946 56.3381 18.1179 56.1805 17.3523 55.8942C15.8102 55.3143 14.5189 54.2145 13.701 52.7843C13.0937 51.7249 12.7746 50.5247 12.7756 49.3035C12.7756 45.4245 15.9314 42.2686 19.8105 42.2686V42.2686ZM43.2127 49.2366C43.2127 45.7122 45.818 42.7859 49.2031 42.2799C49.544 42.2286 49.8926 42.202 50.2473 42.202C52.5025 42.202 54.5104 43.2703 55.798 44.9256C56.1205 45.3384 56.396 45.7858 56.6193 46.2596C57.0566 47.1911 57.2828 48.2076 57.2819 49.2366C57.2819 49.7989 57.2139 50.3456 57.0888 50.87C56.4032 53.7399 53.9559 55.9339 50.957 56.2357C50.7238 56.2591 50.4872 56.2712 50.2473 56.2712C48.8942 56.2723 47.5698 55.8808 46.4349 55.1441C44.4982 53.8895 43.2127 51.7108 43.2127 49.2366V49.2366ZM72.5731 40.8712C71.0423 42.3324 69.9406 44.1847 69.3874 46.2274C66.7359 46.1296 64.0817 46.1296 61.4302 46.2274C60.835 44.0193 59.6012 42.0713 57.9413 40.5916L65.2207 25.8726L72.5731 40.8712ZM41.2168 4.54778H89.2043L77.8701 37.9757C77.3825 38.0925 76.903 38.241 76.4348 38.4204L65.2384 15.5801L54.0101 38.284C53.5207 38.116 53.0204 37.9811 52.5128 37.8804L41.2168 4.54778ZM87.6039 49.2369C87.6039 49.942 87.4987 50.623 87.3048 51.2661C86.845 52.7801 85.8901 54.0959 84.5933 55.0024C83.4146 55.8296 82.0093 56.2728 80.5693 56.2715C77.3213 56.2715 74.5814 54.0581 73.7756 51.0606C73.6157 50.4659 73.5346 49.8528 73.5347 49.2369C73.5347 48.2753 73.7289 47.3584 74.0796 46.5229C74.2607 46.0954 74.4835 45.6869 74.745 45.3033C76.011 43.4347 78.1472 42.2024 80.5693 42.2024C80.7914 42.2024 81.0104 42.2137 81.2276 42.2342C84.7991 42.5669 87.6042 45.5797 87.6042 49.2369H87.6039ZM92.1508 49.2369C92.1508 43.5828 88.0769 38.865 82.7111 37.8574L95.5466 0.000488281H34.8753L47.7306 37.9339C42.5512 39.0865 38.6661 43.7149 38.6661 49.2366C38.6661 53.3828 40.8572 57.0244 44.141 59.071C42.5615 61.4243 40.6886 63.6388 38.5421 65.6641C35.1378 68.8752 31.3456 71.3108 27.2572 72.9134C23.1389 70.3265 21.3982 65.448 23.2059 61.1983L23.3476 60.8652L23.6134 60.2402C28.1366 58.6624 31.3917 54.3575 31.3917 49.3035C31.3917 42.9174 26.1963 37.722 19.8105 37.722C13.4247 37.722 8.22862 42.9174 8.22862 49.3035C8.22862 52.5268 9.55376 55.4456 11.686 57.5474C11.2883 58.39 10.8847 59.2298 10.475 60.0666C8.52518 64.0707 6.31567 68.6092 5.47984 73.6493C3.82022 83.6587 6.49743 91.6603 13.0186 96.1796C16.9756 98.922 20.9943 100 25.0381 100C32.6523 100 40.3551 96.1749 47.889 92.4327C53.3146 89.7381 58.9252 86.9514 64.4671 85.5844C66.5292 85.076 68.6508 84.7699 70.8972 84.446C75.352 83.8033 79.9581 83.139 84.0384 80.776C88.7682 78.0364 92.0056 73.441 92.9211 68.1687C93.707 63.6424 92.7613 59.1089 90.4547 55.2639C91.5661 53.4501 92.1532 51.3638 92.1508 49.2366V49.2369Z"
          fill="white"></path>
      </svg>
      <!-- JS -->
      <svg
        class="p-2"
        width="75"
        height="75"
        viewBox="0 0 100 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M100 0.000488281H0V100H100V0.000488281Z" fill="#F7DF1E"></path>
        <path
          d="M67.1745 78.1259C69.1888 81.4148 71.8094 83.8323 76.4444 83.8323C80.338 83.8323 82.8253 81.8862 82.8253 79.1973C82.8253 75.9751 80.2698 74.8339 75.984 72.9592L73.6348 71.9513C66.8539 69.0624 62.3491 65.4434 62.3491 57.7926C62.3491 50.745 67.719 45.3799 76.111 45.3799C82.0856 45.3799 86.3809 47.4592 89.4761 52.9037L82.1586 57.6021C80.5475 54.7132 78.8094 53.5751 76.111 53.5751C73.3587 53.5751 71.6142 55.3212 71.6142 57.6021C71.6142 60.4212 73.3602 61.5624 77.392 63.3085L79.7412 64.3148C87.7253 67.7386 92.2333 71.2291 92.2333 79.0767C92.2333 87.537 85.5872 92.1719 76.6618 92.1719C67.9348 92.1719 62.2967 88.0132 59.538 82.5624L67.1745 78.1259ZM33.9793 78.9402C35.4555 81.5592 36.7983 83.7735 40.0269 83.7735C43.1142 83.7735 45.0618 82.5656 45.0618 77.8688V45.9164H54.4586V77.9958C54.4586 87.7259 48.7539 92.1545 40.4269 92.1545C32.9031 92.1545 28.546 88.2608 26.3301 83.5712L33.9793 78.9402Z"
          fill="black"></path>
      </svg>
      <!-- react -->
      <svg
        class="p-2"
        width="75"
        height="75"
        viewBox="0 0 101 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M50.3067 58.8168C55.1758 58.8168 59.1229 54.8697 59.1229 50.0006C59.1229 45.1315 55.1758 41.1844 50.3067 41.1844C45.4376 41.1844 41.4905 45.1315 41.4905 50.0006C41.4905 54.8697 45.4376 58.8168 50.3067 58.8168Z"
          fill="#61DAFB"></path>
        <path
          d="M50.3066 68.0631C76.4333 68.0631 97.6132 59.9762 97.6132 50.0005C97.6132 40.0249 76.4333 31.938 50.3066 31.938C24.1799 31.938 3 40.0249 3 50.0005C3 59.9762 24.1799 68.0631 50.3066 68.0631Z"
          stroke="#61DAFB"
          stroke-width="5"></path>
        <path
          d="M34.664 59.0318C47.7274 81.6582 65.3207 95.9571 73.9599 90.9692C82.5991 85.9814 79.0126 63.5957 65.9492 40.9693C52.8858 18.3428 35.2925 4.04395 26.6533 9.03178C18.0141 14.0196 21.6006 36.4054 34.664 59.0318Z"
          stroke="#61DAFB"
          stroke-width="5"></path>
        <path
          d="M34.664 40.9692C21.6007 63.5956 18.0141 85.9814 26.6533 90.9692C35.2925 95.957 52.8859 81.6582 65.9492 59.0318C79.0126 36.4053 82.5991 14.0196 73.9599 9.03176C65.3208 4.04393 47.7274 18.3428 34.664 40.9692Z"
          stroke="#61DAFB"
          stroke-width="5"></path>
      </svg>
      <!-- nextjs -->
      <svg
        class="p-2"
        width="75"
        height="75"
        viewBox="0 0 100 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_751_7790)">
          <path
            d="M66.4769 40.0089H83.8952V43.2239H76.9855V60.1373H73.5304V43.2239H66.4769V40.0089Z"
            fill="black"></path>
          <path
            d="M37.8305 40.0089V43.2239H23.8686V48.3957H35.0967V51.6107H23.8686V56.9224H37.8305V60.1373H20.4137V43.2239H20.4123V40.0089H37.8305Z"
            fill="black"></path>
          <path
            d="M46.5279 40.0173H42.0066L58.201 60.1457H62.7355L54.6373 50.0884L62.7226 40.0326L58.201 40.0396L52.3736 47.2771L46.5279 40.0173Z"
            fill="black"></path>
          <path
            d="M51.1675 54.3951L48.9033 51.5799L41.9937 60.161H46.5279L51.1675 54.3951Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M20.5348 60.1373L4.31855 40.0005H0V60.1289H3.45485V44.3029L16.1946 60.1373H20.5348Z"
            fill="black"></path>
          <path
            d="M84.6718 60.0143C84.4188 60.0143 84.2035 59.9267 84.0233 59.7514C83.8431 59.5761 83.754 59.3639 83.7563 59.1124C83.754 58.8679 83.8431 58.658 84.0233 58.4827C84.2035 58.3074 84.4188 58.2197 84.6718 58.2197C84.9152 58.2197 85.1282 58.3074 85.3084 58.4827C85.4911 58.658 85.5822 58.8679 85.5848 59.1124C85.5822 59.2785 85.5401 59.4307 85.4558 59.5668C85.3693 59.7053 85.2594 59.8137 85.1211 59.8921C84.9853 59.9728 84.8355 60.0143 84.6718 60.0143Z"
            fill="black"></path>
          <path
            d="M90.5685 51.5349H92.0995V57.4332C92.0972 57.9752 91.98 58.4389 91.7508 58.8287C91.519 59.2186 91.1982 59.5161 90.7863 59.726C90.3767 59.9336 89.8967 60.0397 89.3513 60.0397C88.8526 60.0397 88.4056 59.9498 88.0076 59.7745C87.6097 59.5992 87.2937 59.3362 87.0619 58.9902C86.8277 58.6442 86.713 58.2128 86.713 57.6961H88.2465C88.2487 57.9222 88.3003 58.1182 88.3985 58.282C88.4967 58.4458 88.6325 58.5703 88.8058 58.658C88.9812 58.7457 89.1827 58.7895 89.4097 58.7895C89.6556 58.7895 89.8663 58.7387 90.0371 58.6349C90.2079 58.5334 90.3391 58.3812 90.4305 58.1782C90.5193 57.9775 90.5663 57.7284 90.5685 57.4332V51.5349Z"
            fill="black"></path>
          <path
            d="M98.3987 53.8416C98.3614 53.484 98.1975 53.2049 97.9119 53.0065C97.6239 52.8058 97.2518 52.7067 96.7952 52.7067C96.4746 52.7067 96.1985 52.7551 95.969 52.8497C95.7396 52.9466 95.5617 53.0757 95.4398 53.2395C95.3183 53.4033 95.2574 53.5901 95.2525 53.8001C95.2525 53.9754 95.2947 54.1276 95.3766 54.2545C95.4586 54.3836 95.5685 54.4921 95.7114 54.5797C95.8518 54.6697 96.0086 54.7435 96.1797 54.8035C96.3528 54.8634 96.5261 54.9142 96.6992 54.9557L97.4975 55.1518C97.8183 55.2256 98.1297 55.3248 98.4269 55.4517C98.7241 55.5762 98.9934 55.7354 99.2297 55.9268C99.4662 56.1183 99.6535 56.349 99.7916 56.6189C99.9297 56.8887 100 57.2048 100 57.5692C100 58.0605 99.8736 58.4919 99.6183 58.8656C99.3632 59.237 98.9957 59.5276 98.5134 59.7376C98.0335 59.9452 97.453 60.0513 96.7695 60.0513C96.1094 60.0513 95.5335 59.9498 95.049 59.7468C94.5622 59.5461 94.1827 59.2508 93.9089 58.8633C93.635 58.4758 93.4876 58.0029 93.4665 57.447H94.9835C95.0046 57.7376 95.0982 57.9798 95.2574 58.1759C95.4188 58.3697 95.6294 58.5127 95.8871 58.6096C96.147 58.7041 96.4371 58.7526 96.7579 58.7526C97.0926 58.7526 97.3876 58.7018 97.6426 58.6026C97.8954 58.5034 98.0944 58.3651 98.2373 58.1851C98.3825 58.0075 98.4551 57.7976 98.4574 57.5577C98.4551 57.3386 98.3893 57.1563 98.2629 57.0133C98.1343 56.8703 97.9563 56.7503 97.7292 56.6535C97.5 56.5566 97.233 56.4689 96.9287 56.3928L95.9596 56.1483C95.2596 55.9707 94.7048 55.7008 94.2997 55.3386C93.8926 54.9765 93.6911 54.4967 93.6911 53.8946C93.6911 53.401 93.8269 52.9673 94.101 52.596C94.3723 52.2246 94.7447 51.9362 95.2152 51.7309C95.6881 51.5233 96.2218 51.4218 96.8162 51.4218C97.4203 51.4218 97.9492 51.5233 98.4058 51.7309C98.8622 51.9362 99.2206 52.2223 99.4802 52.5867C99.7401 52.9512 99.8759 53.3687 99.883 53.8416H98.3987Z"
            fill="black"></path>
        </g>
        <defs>
          <clipPath id="clip0_751_7790">
            <rect
              width="100"
              height="20.3046"
              fill="white"
              transform="translate(0 40.0005)"></rect>
          </clipPath>
        </defs>
      </svg>
      <!-- redux -->
      <svg
        class="p-2"
        width="75"
        height="75"
        viewBox="0 0 100 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M69.2895 69.3024C72.9798 68.9204 75.7794 65.7392 75.652 61.9212C75.5251 58.1036 72.3434 55.0493 68.5258 55.0493H68.2715C64.3262 55.1767 61.2723 58.4852 61.3997 62.4302C61.527 64.3392 62.2903 65.9935 63.4356 67.1388C59.109 75.6653 52.4918 81.9009 42.5661 87.1184C35.8215 90.6817 28.8227 91.9544 21.8238 91.0638C16.0973 90.3001 11.6434 87.7552 8.84336 83.5552C4.77149 77.3196 4.38984 70.5747 7.82579 63.8302C10.2438 58.9942 14.0609 55.431 16.4789 53.6493C15.9699 51.995 15.2063 49.1954 14.8246 47.1595C-3.62735 60.5216 -1.71837 78.5923 3.88086 87.1184C8.08008 93.4817 16.6063 97.4267 26.0231 97.4267C28.568 97.4267 31.1129 97.172 33.6582 96.536C49.9469 93.3544 62.2907 83.6825 69.2895 69.3024V69.3024ZM91.6864 53.5224C82.0149 42.1962 67.7626 35.9606 51.4739 35.9606H49.4379C48.2926 33.67 45.8747 32.1427 43.2024 32.1427H42.9477C39.0032 32.27 35.9493 35.5786 36.0762 39.5239C36.2035 43.3415 39.3848 46.3958 43.2024 46.3958H43.4567C46.2563 46.2685 48.6743 44.4868 49.6922 42.0688H51.9829C61.6544 42.0688 70.8165 44.8685 79.0884 50.3407C85.4509 54.5403 90.0321 60.0126 92.577 66.6298C94.7403 71.9747 94.613 77.1923 92.3224 81.6466C88.7595 88.3911 82.7786 92.0817 74.8887 92.0817C69.7985 92.0817 64.963 90.5544 62.4176 89.4091C61.018 90.6817 58.4727 92.7177 56.6911 93.9907C62.1633 96.5356 67.7626 97.9356 73.1071 97.9356C85.3235 97.9356 94.3587 91.1907 97.7946 84.4462C101.485 77.0649 101.23 64.3392 91.6864 53.5224V53.5224ZM27.041 71.4653C27.1684 75.2833 30.3496 78.3372 34.1672 78.3372H34.4219C38.3668 78.2102 41.4207 74.9013 41.2934 70.9563C41.1664 67.1384 37.9848 64.0845 34.1672 64.0845H33.9129C33.6582 64.0845 33.2762 64.0845 33.0223 64.2114C27.8047 55.5579 25.6414 46.1411 26.4051 35.9603C26.9137 28.3247 29.459 21.7071 33.9129 16.2349C37.6032 11.5263 44.7293 9.23564 49.5653 9.10869C63.054 8.854 68.7801 25.652 69.1622 32.397C70.8165 32.7786 73.6161 33.6696 75.5251 34.306C73.9977 13.6903 61.2723 3.00049 49.0563 3.00049C37.6032 3.00049 27.041 11.2724 22.8414 23.4892C16.9879 39.7782 20.8055 55.431 27.9317 67.7751C27.2957 68.6657 26.9137 70.0657 27.041 71.4657V71.4653Z"
          fill="#764ABC"></path>
      </svg>
      <!-- TS -->
      <svg
        class="p-2"
        width="75"
        height="75"
        viewBox="0 0 100 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 0.000488281H100V100H0V0.000488281Z" fill="#017ACB"></path>
        <path
          d="M48.0157 37.0317H52.8126V45.313H39.8438V82.1567L39.5 82.2505C39.0313 82.3755 32.8594 82.3755 31.5313 82.2349L30.4688 82.1411V45.313H17.5V37.0317L21.6094 36.9849C23.8594 36.9536 29.6406 36.9536 34.4532 36.9849C39.2657 37.0161 45.3594 37.0317 48.0157 37.0317V37.0317ZM84.6251 78.2505C82.7189 80.2661 80.672 81.3911 77.2657 82.313C75.7814 82.7192 75.5313 82.7349 72.1876 82.7192C68.8438 82.7036 68.5782 82.7036 66.9532 82.2817C62.7501 81.2036 59.3594 79.0942 57.0469 76.1099C56.3907 75.2661 55.3126 73.5161 55.3126 73.2974C55.3126 73.2349 55.4688 73.0942 55.6719 73.0005C55.8751 72.9067 56.2969 72.6411 56.6407 72.438C56.9844 72.2349 57.6094 71.8599 58.0313 71.6411C58.4532 71.4224 59.6719 70.7036 60.7345 70.063C61.797 69.4224 62.7657 68.9067 62.8751 68.9067C62.9845 68.9067 63.1876 69.1255 63.3438 69.3911C64.2813 70.9692 66.4688 72.9849 68.0157 73.6724C68.9688 74.0786 71.0782 74.5317 72.0938 74.5317C73.0313 74.5317 74.7501 74.1255 75.672 73.7036C76.6563 73.2505 77.1564 72.7974 77.7501 71.8911C78.1564 71.2505 78.2032 71.0786 78.1876 69.8599C78.1876 68.7349 78.1251 68.4224 77.8126 67.9067C76.9376 66.4692 75.7501 65.7192 70.9376 63.5942C65.9688 61.3911 63.7345 60.0786 61.9219 58.313C60.5782 57.0005 60.3126 56.6411 59.4688 55.0005C58.3751 52.8911 58.2344 52.2036 58.2188 49.063C58.2032 46.8599 58.2501 46.1411 58.4844 45.3911C58.8126 44.2661 59.8751 42.0942 60.3594 41.5474C61.3594 40.3755 61.7188 40.0161 62.422 39.438C64.547 37.688 67.8595 36.5317 71.0313 36.4224C71.3907 36.4224 72.5782 36.4849 73.6876 36.563C76.8751 36.8286 79.047 37.6099 81.1407 39.2817C82.7189 40.5317 85.1095 43.4692 84.8751 43.8599C84.7189 44.0942 78.4845 48.2505 78.0782 48.3755C77.8282 48.4536 77.6564 48.3599 77.3126 47.9536C75.1876 45.4067 74.3282 44.8599 72.2657 44.7349C70.797 44.6411 70.0157 44.813 69.0313 45.4692C68.0001 46.1567 67.5001 47.2036 67.5001 48.6567C67.5157 50.7817 68.3282 51.7817 71.3282 53.2661C73.2657 54.2192 74.922 55.0005 75.047 55.0005C75.2345 55.0005 79.2501 57.0005 80.297 57.6255C85.172 60.4849 87.1564 63.4224 87.672 68.4849C88.047 72.2974 86.9689 75.7817 84.6251 78.2505V78.2505Z"
          fill="white"></path>
      </svg>
      <!-- tailwind -->
      <svg
        class="p-2"
        width="75"
        height="75"
        viewBox="0 0 100 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M50.0002 20.0005C36.6665 20.0005 28.3334 26.6655 24.9996 39.9942C30.0002 33.3292 35.8337 30.8308 42.4999 32.4964C46.3039 33.4468 49.0224 36.2065 52.0323 39.2602C56.9341 44.2345 62.6075 49.9917 75.0009 49.9917C88.3334 49.9917 96.6677 43.3267 100 29.9967C95.0009 36.6617 89.1674 39.1614 82.4999 37.4958C78.6973 36.5454 75.9787 33.7856 72.9689 30.732C68.067 25.7576 62.3924 20.0005 50.0002 20.0005V20.0005ZM24.9996 49.9917C11.6671 49.9917 3.33274 56.6567 0.000244141 69.9866C4.99962 63.3217 10.8331 60.822 17.5006 62.4889C21.3032 63.4405 24.0218 66.199 27.0316 69.2514C31.9335 74.2257 37.6081 79.9841 50.0002 79.9841C63.334 79.9841 71.6671 73.3191 75.0009 59.9892C70.0002 66.6542 64.1668 69.1538 57.5006 67.487C53.6966 66.5379 50.9781 63.7768 47.9682 60.7244C43.0664 55.7501 37.393 49.9917 24.9996 49.9917V49.9917Z"
          fill="#06B6D4"></path>
      </svg>
    </div>
  </div>
</section>
