---
import "../styles/footer.css";
---

<div class="footer">
  <div class="footer-container">
    <small>©2017-2024. All Rights Reserved</small>
    <br />
    <div id="memo">
      <small>
        made with <span id="soda"
          ><img
            src="/images/soda.png"
            alt="cup of soda with ice and a straw"
          /></span
        > & my little girl <span><!-- paw prints --></span>
      </small>
    </div>
  </div>
</div>
