---
import "../styles/navbar.css";
---

<nav class="nav-container">
  <div class="brand-container">
    <a href="/"><img id="brand" src="/images/jo.png" alt="jo" /></a>
    <div class="socials">
      <a href="/"><img src="/images/github.svg" alt="github logo" /></a>
      <a href="/"><img src="/images/linkedin.svg" alt="linkedin logo" /></a>
    </div>
  </div>
  <div class="routes-container">
    <ul class="routes">
      <li><a href="/">about</a></li>
      <li><a href="/">blog</a></li>
      <li><a href="/">contact</a></li>
    </ul>
  </div>
</nav>
