<section
  class="flex xs:flex-col justify-center items-center gap-8 my-12 md:justify-around md:flex-row"
>
  <div class="flex items-center justify-center relative">
    <img
      class="p-2 w-1/2"
      src="/images/rsz_jo.png"
      alt="illustration of girl with bun wearing glasses and nose ring"
    />
    <img
      class="absolute right-1/4 bottom-0 w-15 p-2 -rotate-[7deg] invert"
      src="/images/jo.png"
      alt="illustration signed, jo"
    />
  </div>
  <div class="w-2/3 p-0 lg:w-1/2 lg:pl-6 md:pr-6 lg:pr-12">
    <!-- text -->
    <slot />
  </div>
</section>
